<!DOCTYPE html>
<html>
  <head>
    <title>Add student</title>
    <style>
      h2 {
        font-family: 'Lucida Handwriting', cursive;
        color: mediumvioletred;
      }
    </style>
  </head>
  <body>
    <h2>Enter student detail</h2>
    <form method="POST">
      <strong>Name:</strong><input type="text" id="name" name="name" required />
      <br />
      <br />
      <strong>Age:</strong><input type="number" id="age" name="age" required />
      <br />
      <br />
      <strong>Grade:</strong><select name="grade" id="grade" required>
        <option value="">Select an Option</option>
        <option value="IG">IG</option>
        <option value="G">G</option>
        <option value="VG">VG</option>
      </select>
      <br />
      <br />
      <strong>Subjects:</strong><input type="text" id="subjects" name="subjects" required />
      <br />
      <br />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
