<!DOCTYPE html>
<html>
  <head>
    <h1>Delete Student</h1>
  </head>
  <body>
    <p>Are you sure you want to delete the student {{ name }}?</p>
    <form action="{{ url_for('delete_student', id=id) }}" method="POST">
      <input type="hidden" name="argument" value="true" />
      <input type="submit" value="Delete" />
    </form>
    <br />
    <form action="{{ url_for('delete_student', id=id) }}" method="POST">
      <input type="hidden" name="argument" value="false" />
      <input type="submit" value="Cancel" />
    </form>
  </body>
</html>
