<!DOCTYPE html>
<html>
  <head>
    <title>Update student</title>
  </head>
  <body>
    <h2>Enter student detail</h2>
    <form method="POST">
      Name:<input type="text" id="name" name="name" required />
      <br />
      <br />
      Age:<input type="number" id="age" name="age" required />
      <br />
      <br />
      Grade:<select name="grade" id="grade">
        <option value="ig">IG</option>
        <option value="g">G</option>
        <option value="vg">VG</option>
      </select>
      <br />
      <br />
      Subjects:<input type="text" id="subjects" name="subjects" required /><br />
      <br />
      <br />
      <button type="submit" onclick="return confirm('Student details updated successfully.')">Update</button>
    </form>
  </body>
</html>
